/* =============Protfolio css=========== */
:root {
  --blue_color: #5956e8;
  --primary_font_color: #181818;
  --white_color: #ffffff;
  --secondery_font_color: #5d5d5d;
  --inter: "Inter", sans-serif;
}





/* =============Protfolio css=========== */