/* ===============member part css=============== */
:root {
  --blue_color: #5956e8;
  --primary_font_color: #181818;
  --white_color: #ffffff;
  --secondery_font_color: #5d5d5d;
  --inter: "Inter", sans-serif;
}

.TeamMember_main_part {
  background-color: #e5e5e5;
  padding: 100px 0;
}

.TeamMember_style {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* ===============member part css=============== */
